:root {
      --rose:       #D6B46A;
      --rose-light: #E3CB91;
      --rose-deep:  #E3CB91;
      --cream:      #fdf8f3;
      --cream-dark: #f0e8df;
      --brown:      #7a5c4e;
      --text:       #63412c;
      --gold:       #c9a96e;
}
 
*, *::before, *::after { 
    box-sizing: border-box; margin: 0; padding: 0; 
}
 
html {
     scroll-behavior: smooth;
}
 
body {
      font-family: 'Jost', sans-serif;
      background: var(--cream);
      color: var(--text);
      overflow-x: hidden;
}